.container {
    height: auto;
    width: 100vw;
    background-color: var(--Dark);
    color: var(--Light);
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    font-family: var(--ITSemiBold);
}

.main {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--Dark);
}

.logo {
    width: 31px;
    object-fit: contain;
    margin-right: 5px;
}

.title {
    font-family: var(--ITSemiBold);
}

.contact {
    height: 70px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.contact a:hover {
    color: var(--Mint);
    transition: .3s ease-in-out;
}

.email, .phone, .hours {
    margin-right: 30px;
}

.booking {
    position: absolute;
    right: 20px;
}

.booking h5 {
    padding: 5px;
    background-color: var(--Mint);
    color: var(--Dark);
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.booking h5:hover {
    background-color: var(--BrightPurple);
    color: var(--Light);
    transition: .3s ease-in-out;
    cursor: pointer;
}

h5 i {
    margin-left: 5px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .container {
        align-items: center;
    }

    .main {
        width: 100%;
        justify-content: center;
    }

    .booking {
        position: relative;
        right: inherit;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 729px) {
    .container {
        height: fit-content;
    }

    .contact {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .main {
        margin-bottom: 10px;
    }

    .email, .phone, .hours {
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .booking {
        margin-bottom: 25px;
    }
}