:root {
  --ITLight: 'Inter Tight Light';
  --ITMedium: 'Inter Tight Medium';
  --ITRegular: 'Inter Tight Regular';
  --ITSemiBold: 'Inter Tight SemiBold';
  --BrightPurple: #4a2ff7;
  --Mint: #7fffd4;
  --Light: #ffffff;
  --Dark: #000000;
  --OffWhite: #fbf2ea;
  --LightTwilight: #c6b2d8;
  --StoneCypress: #86ab97;
  --Transition: .3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
  font-synthesis: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ITMedium);
}

a {
  color: inherit;
}

.App {
  display: flex;
}