@font-face {
  font-family: 'Inter Tight Light';
  src: url('./assets/fonts/InterTight-Light.ttf');
}

@font-face {
  font-family: 'Inter Tight Medium';
  src: url('./assets/fonts/InterTight-Medium.ttf');
}

@font-face {
  font-family: 'Inter Tight Regular';
  src: url('./assets/fonts/InterTight-Regular.ttf');
}

@font-face {
  font-family: 'Inter Tight SemiBold';
  src: url('./assets/fonts/InterTight-SemiBold.ttf');
}